.item a{
    color: black;
}

a.active{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
a.active::before{
    content: '>'; /* adding a > to the active email item */
    font-size: 20px ;
    margin-right: 10px;
}